


<body>
  <nav class="navbar justify-content-center navbar-expand navbar-fixed-top main-nav" >
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">MENU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/data" routerLinkActive="active">DATA VISUALZ</a>
      </li> -->
    </ul>
  </nav>
</body>
