


<!-- <body class="home-bg"> -->
<body>
  <section class="home-menu">
    <div class="home-container">
        <div class="home-mobile"><a id="home-smol"><span></span></a></div>
        <ul class="home-list">
            <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
            <!-- <li><a routerLink="/data" routerLinkActive="active">DATA</a></li> -->
        </ul>
    </div>
  </section>
</body>