<h1 style="justify-content: center; text-align: center;">Contact:</h1>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <p class="lead" style="color: #24461d;  font-size: 1.7rem;">LinkedIn:</p>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-8">
        <a class="lead" style="color: #24461d; font-size: 1.7rem;" href="https://www.linkedin.com/in/brandon-donelan/">https://www.linkedin.com/in/brandon-donelan/</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <p class="lead" style="color: #24461d;  font-size: 1.7rem;">RevSpring:</p>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-8">
        <p class="lead" style="color: #24461d; font-size: 1.7rem;">bdonelan@revspringinc.com</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2 col-md-1 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <p class="lead" style="color: #24461d;  font-size: 1.7rem;">Deck of Dice:</p>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-8">
        <p class="lead" style="color: #24461d; font-size: 1.7rem;">bd@deckofdice.com</p>
    </div>
</div>
<br>

<!-- <ul>
    <li *ngFor="let item of posts; index as i; trackBy: trackByFn">
            {{item.title}}
        </li>
</ul> -->
