/* body {
  overflow-y: auto;
} */

.card-about {
    background-color: #f9f9f9;
    border-color: rgb(44, 114, 46);
    border-width: 3px;
    border-style: solid;
    padding: 0%;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    box-shadow: 10px 10px lightgrey;
  }

button:hover, a:hover {opacity: 0.7;} 
h2 {font-size: 2.6vw;} /* Progress bar titles and such */
h3 {font-size: 1.8vw;}
h4 {font-size: 1.6vw;}

/*@media screen and (min-width: 799px) {

  .bara {margin-left:-5%; width: 95%; background-color: rgb(44, 114, 46)}
  .barb {margin-left:-5%; width: 90%; background-color: #333333;}
  .barc {margin-left:-5%; width: 75%; background-color: #dde029;}
  .bard {margin-left:-5%; width: 60%; background-color: #d3d3d3;}
}
@media screen and (max-width: 799px) {

  .bara {width: 95%; background-color: rgb(44, 114, 46)}
  .barb {margin-left:-10%; width: 90%; background-color: #333333;}
  .barc {margin-left:-10%; width: 75%; background-color: #dde029;}
  .bard {margin-left:-10%; width: 60%; background-color: #d3d3d3;}
}*/