<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-3" style="margin-top:18px">
      <div class="card-about">
        <img src="assets/images/me.jpg" alt="about" style="width: 100%;">
        <h1>Brandon Donelan</h1>
        <p class="title">Deck of Dice Gaming | Revspring Inc.</p>
        <p>Data Analytics & Engineering</p>
          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    <div class="col-sm-9" style="margin-top:18px">
      <ngb-accordion [closeOthers]="true" activeIds="static-2">
        <ngb-panel id="static-1" title="HOBBIES & INTERESTS">
          <ng-template ngbPanelContent>
            <div class="container-fluid"> 
            <div class="row">
              <div class="col-sm-6">
                <p class="lead" style="font-weight: bold; color:#24461d; font-size: 2rem;">Hobbies & Interests</p>
                <p class="lead">
                    Some of my personal hobbies include fitness, reading, and playing strategy games. I also enjoy learning new things by playing with 
                    NASA Open API's, learning new languages, as well as building apps to challenge myself in new ways.
                </p>
                
              </div>
              <div class="col-sm-6">
                <p class="lead" style="font-weight: bold; color:#24461d; font-size: 2rem;">Quick Facts</p>
                <p class="lead">Já umím mluvit trochu Česky (I can speak some Czech)</p>
                <p class="lead">I am a fan of the Cleveland Browns</p>
                <p class="lead">Armchair Astronomy is a hobby of mine</p>
                <p class="lead">I don't watch TV much, but my favorites are historical documentaries</p>
                <a href="https://fox8.com/2014/07/08/it-was-crazy-golfers-run-for-safety-as-tornado-touches-down/" class="lead" >I once golfed in a tornado (click for link)</a>
              </div>
            </div>
            </div>
          <br><br><br><br><br><br>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="PROFESSIONAL SKILL SET">
          <ng-template ngbPanelContent>
            <p style="font-size: 1.2rem;">Coloring Inside the Lines</p>
            <div class="progress">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:100%"></div>
            </div>
            <p style="margin-top: 15px; font-size: 1.2rem;">Data Analytics & Strategy</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%"></div>
            </div>
            <p style="margin-top: 15px; font-size: 1.2rem;">Data Engineering & Modeling</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%"></div>
            </div>
            <p style="margin-top: 15px; font-size: 1.2rem;">Coding & Software Development</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
            </div>
            <p style="margin-top: 15px; font-size: 1.2rem;">Fiddling with the CSS</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:98%"></div>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="EDUCATION & EXPERIENCE">
          <ng-template ngbPanelContent>
            <p class="lead" style="font-weight: bold; color:#24461d; font-size: 2rem;">Education</p>
              <p style="font-weight: bold; font-size: 1.3rem; margin-bottom: 0;">The Ohio State University</p>
              <p style="font-weight: bold; font-size: 1.0rem; margin-top: 0;">Fisher College of Business</p>
              <p style="text-align:left; font-size: 0.8rem;">
                  BSBA, Information Systems
                  <span style="float:right; font-size: 1.0rem;">
                      2014 - 2018
                  </span>
              </p>
            <p class="lead" style="color: #24461d; font-weight: bold; font-size: 2rem;">Experience</p>
              <p style="font-weight: bold; margin:0px; font-size: 1.3rem;">Mobile Game Analytics</p>
              <p style="font-weight: bold; margin:0px; font-size: 1.0rem;">Deck of Dice Gaming<span style="float:right;">2016 - Current</span></p>
              <p style="text-align:left; margin:0px; font-size: 0.8rem;">Planning and executing on Analytics Strategy & Analytics Architecture for multiple mobile applications.</p>
            <br>
              <p style="font-weight: bold; margin:0px; font-size: 1.3rem;">Analytics Data Engineer</p>
              <p style="font-weight: bold; margin:0px; font-size: 1.0rem;">RevSpring Inc.<span style="float:right;">2019 - Current</span></p>
              <p style="text-align:left; margin:0px; font-size: 0.8rem;">Build & design data pipelines for the deployement of predictive models and assist Data Scientists complete models in a timely manner</p>
            <br>
              <p style="font-weight: bold; margin:0px; font-size: 1.3rem;">Reporting Analyst</p>
              <p style="font-weight: bold; margin:0px; font-size: 1.0rem;">RevSpring Inc.<span style="float:right;">2018 - 2019</span></p>
              <p style="text-align:left; margin:0px; font-size: 0.8rem;">Maintained internal and external reporting platforms and assisted in QA and Data Engineering initiatives.</p>
            <br>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>        
    </div>
  </div>
</div>









<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

<!-- <div class="about-bg">
  <div class="title">
    <h1>ABOUT</h1>
  </div>
  <div class="subtitle">
    <h2>Brandon Donelan</h2>
    <p>Check this shit out!</p>
  </div>
   <div class="text2">
    <p>Welcome to bdonelan.com!</p>
    <p style="color:green">I have a cat named Cookie, and I like to learn.</p>
    <p style="color:green">Give me a job and pay me to do shit.</p>
  </div>
</div> -->